* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .topp{
    padding: 0;
    margin: 0;
    background-color: darkslateblue;
    height: 40px;
    padding: 10px;
  }
.parent-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 140px;
}
.row-temp{
    display: flex;
    flex-direction: row;
}
.day{
    font-size: 20px;
    color: grey;
}
.image-temp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.text-temp-low{
    font-size: 20px;
    color: grey;
    margin: 5px;
    font-weight: bold;
}
.text-temp{
    font-size: 20px;
    color: grey;
    margin: 5px;
}
.pressure-div{
    margin-left : 150px;
}
.selected-day{
    display: flex;
    margin-left: 50px;
    width: 700px;
    background-color :white;
    border-width :0;
}
h3{
    font-size: 16;
    font-weight: normal;
    color: dimgrey;
    margin-bottom: 5px;
}
h4{
    font-size: 16;
    font-weight: normal;
    margin-left: 60px;
    margin-bottom: 5px;
    color: dimgrey;
  }

  h2{
    font-size: 26px;
    font-weight: normal;
    color: dimgrey;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .today-temp{
    display : flex;
    font-size : 48px;
    margin-left: 10px;

  }
  .toggle-temp{
    background-color: white;
    border-width: 0;
    display: flex
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .location-input {
    padding: 10px;
    width: 500px;
  }
  
  .location-dropdown {
    padding: 10px;
  }

  .search-btn {
    padding: 8px 20px;
    border: 1px solid #000;
  }